/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-04-2018, 18:25:14
    Author     : basti
*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  color:white;
  background-color:#008B8B;
  font-weight: 300;
}

#prueba {
    color: #008B8B;
    width: 1200px;
    height: 600px;
    background-color: whitesmoke;
    border-width:1px;
    
}
#datos{
   border-collapse: separate;
   border-spacing: 130px 25px;
}

#datos1{
   border-collapse: separate;
   border-spacing: 140px 25px;
}


#exTab1 .tab-content {
  color : #008B8B;
  background-color: whitesmoke;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : #008B8B;
  background-color: whitesmoke;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : #008B8B;
  background-color: whitesmoke;
  padding : 5px 15px;
}




